section#hero {
    min-height: 10rem;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

section#hero h1 {
    font-size: 5rem;
    color: red;
}

p {
    color: rgb(255, 63, 63);
}

/* target the main header only */
body > header {
    position: sticky;
    top: 0;
    background-color: var(--pico-background-color); 
}

section#likes div {
    display: flex;
    background-color: rgb(187, 0, 0);
}

section#likes article {
    margin: 1rem;
    flex: 1;
}

img#kieran {
    min-width: 100%;
}

section.demo div {
    display: flex;
    gap: 1rem;
}

section.demo div p {
    font-size: 5rem;
    background-color: darkred;
    padding: 1rem;
}