section#hero {
    min-height: 10rem;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

section#hero h1 {
    font-size: 5rem;
    color: red;
}

p {
    color: rgb(255, 63, 63);
}

/* target the main header only */
body > header {
    position: sticky;
    top: 0;
    background-color: var(--pico-background-color); 
}

section#likes div {
    display: flex;
    background-color: rgb(187, 0, 0);
}

section#likes article {
    margin: 1rem;
    flex: 1;
}

section.demo div {
    display: flex;
    gap: 1rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #F224;
}

section.demo div p {
    font-size: 5rem;
    background-color: darkred;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1;
    width: 1.2em;
    margin: 0;
    text-align: center;
}

section#task2 div {
    justify-content: center;
}

section#task3 div {
    justify-content: space-between;
}

section#task4 div {
    justify-content: right;
}

section#task5 div {
    align-items: first baseline;
}

section#task6 div {
    align-items: last baseline
}

section#task7 div {
    align-items: center;
}

section#task8 div {
    justify-content: center;
    align-items: center;
}